@{
    Layout = "~/Views/Shared/Shared.cshtml";
}

@{
    var upload = ViewData["Upload"] as List<Infra.Data.Entities.Upload>;
 }

<h2 class="d-flex justify-content-center m-4">Listagem de arquivos</h2>
<button type="button" onclick="window.location.href = '/Home/CadastroAlteracao'" class="btn btn-primary mb-1 create" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-plus me-1"></i>Cadastrar</button>

<div>
    <strong>@TempData["Mensagem"]</strong>
</div>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th class="text-white">Titulo</th>
            <th class="text-white">Descrição</th>          
            <th class="text-white">Nome Do Arquivo</th>
            <th class="text-white">Data da Criação</th>
            <th class="text-white"></th>
        </tr>
    </thead>
    <tbody>
        @if (@upload != null)
        {
            @foreach (var item in @upload)
            {
                <tr>
                    <td style=" max-width: 16vw; width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="@item.Titulo">@item.Titulo</td>
                    <td style=" max-width: 16vw; width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="@item.Descricao">@item.Descricao</td>                 
                    <td style=" max-width: 16vw; width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="@item.Nome_Do_Arquivo">@item.Nome_Do_Arquivo</td>
                    <td style=" max-width: 16vw; width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="@item.DataCriacao">@item.DataCriacao</td>
                    <td style=" max-width: 16vw; width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" >
                        <a href="/Home/CadastroAlteracao?id=@item.IdUpload" style="text-decoration:none">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href='@Url.Action("Excluir","Home", new { id = item.IdUpload })'><i class="fas fa-trash"></i></a>

                        <a href='@Url.Action("DownloadFile","Home", new { id = item.IdUpload })'><i class="fas fa-file-download"></i></a>
                    </td>
                </tr>

            }
        }

    </tbody>
</table>
